/* Nav-bar */
{% load staticfiles %}
.navbar {
	background: url("/static/img/navbg.png");
}

#logo1{
	height: 50px;
}

#logo2{
	height: 50px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active{
    color: #96cb41;

}
.navbar-default .navbar-nav > li > a:visited{
	background-color: #96cb41;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #96cb41;
}
.navbar-default .navbar-nav > .active > a{
	color: #555;
}

/*dropdown nav*/

.dropdown-menu {

  min-width: 86px;
  font-color: #96cb41;
  background: url("/static/img/navbg.png");
}

.dropdown-menu > li > a{
	color: #777;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #96cb41;
}

.dropdown-menu {

  min-width: 86px;
  font-color: #777;
  background: url("/static/img/navbg.png");
}


.dropdown-menu > li > a {

  color: #777;

}


/* post-holder */





/* common-body */

.body{

	position: relative;
}





.divider{
	height: 2px;
	width: 60px;
	background-color: #96cb41;
	text-align: center;

}

/*
.contacts>.row{
  background: url("/static/img/backgrounds/grass.jpg");
  padding-bottom: 27px;
  padding-top: 27px;
}
*/




.post-holders>.row>.col-xs-4{
	text-align: center;
        font-family: fantasy;
    letter-spacing: 1px;
}

.events-header,.contacts-header,.sports-header{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 4px;
        font-family: fantasy;
    letter-spacing: 0.5px;
}


.contact-card-1{
	background: url("/static/img/navbg.png");
	padding: 10px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);

}
    .contacts>.row{
      background: url("/static/img/backgrounds/grass.jpg");
      padding-bottom: 27px;
      padding-top: 27px;
    }
    .contacts>.container>.row>.col-xs-4{

        border: 1px solid grey;
    }


    .contact-card {
        border: 1px solid #96cb41;
        padding: 20px;
        color: #777;
        border-radius: 1px;
    }


div.circle-avatar{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a circle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimension to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

@media (max-width: 768px) {
.contact-card-1{
	background: url("/static/img/navbg.png");
	padding: 10px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
	width: 60%;
}

}



.footer-bottom {
	/* background: #E3E3E3; */
	 border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	background: url(/static/img/navbg.png);
	color: #777;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
#body{
    font-family: fantasy;
    letter-spacing: 0.5px;
}