{% load staticfiles %}
.game-header{
text-align: center;

}

.game-bg{
    max-width: 100%;
    max-height: 100%;
display:block;
height: auto;
    background-size: cover;
}


h2, h3{
	text-align: center;
}


.container-fluid>.row{
	margin-top: 105px;
}
.game-details{
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 20px;
    line-height: 1.5;
    color: #6f6f6f;
    padding: 30px;
    padding-top: 10px;

}
.game-cover>.container-fluid>.row>.col-md-12{
    position: absolute;
}
.game-cover>.container-fluid>.row{
            margin-top: 80px;
            background-position-y: -90px;
            /*height: 555px;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;


        }


.container-fluid>.row>.col-xs-6>.h2 h2{
	font-family: "Stencil";
}

.game-cover>.container-fluid>.row>.col-md-6{
	background-color: rgba(0, 0, 0, 0.4);
    height: auto;

}


.competitions{
	padding-top: 35px;

}
.competitions>.row{
	padding-top: 50px;
	padding-bottom:  50px;

}
.competitions{
	padding-top: 40px;

}
.competitions>.row>.col-xs-4{
	text-align: center;
	font-weight: bold;
}
.competitions>.row>.col-xs-4>.img-responsive{
	display: inline-block;
}

.competitions>.row {
     margin-right: 0px;
     margin-left: 0px;
}


.post-holders>.row>.col-xs-4{
	text-align: center;
}

.events-header,.contacts-header,.sports-header{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 4px;
}
/*
#maincover{
    position: fixed;
}
#details{
    position: relative;
}
#maincover{
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}

*/




.game-cover>.container-fluid>.row>.col-md-6{
	background-color: rgba(0, 0, 0, 0.4);
   /* height: auto;*/

}.game-bg{
    max-width: 100%;
    max-height: 100%;
display:block;
height: auto;
    background-size: cover;
}
#details{
    width: 50%;
  height: auto;

  position: absolute;
right: 10px;
    top: 10px;
}
#maincombine{
    position: relative;
}